@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication
@inherits AuthComponent
@inject NavigationManager Nm
@code {

    void LoginAs(MyRoles role)
    {
        Nm.NavigateTo($"/login/login?role={(int)role}", true);
    }

    void Logout()
    {
        Nm.NavigateTo($"/login/logout", true);
    }
}

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@if (User?.Identity?.IsAuthenticated ?? false)
{
    <div>Jste přihlášen jako @((MyRoles)int.Parse(User.Claims.FirstOrDefault()?.Value))</div>
    <button @onclick="Logout">Odhlásit</button>
}
else
{
    <div>Nejste přihlášen</div>
    <button @onclick="@(() => LoginAs(MyRoles.User))">Přihlásit: uživatel</button>
    <button @onclick="@(() => LoginAs(MyRoles.Admin))">Přihlásit: admin</button>
    <button @onclick="@(() => LoginAs(MyRoles.Developer))">Přihlásit: vývojář</button>
}